<div class="menu_nav">
  <img src="../../../assets/logoSAVEURS.svg" alt="logo" class="logo">
  <a routerLink="/Accueil">ACCUEIL</a>
  <a routerLink="/map">CUISINE DU MONDE</a>
  <div *ngIf="currentUser != null; else elseBlock">
    <a (click)="logOut()" routerLink="/" class="nav-link"> Deconnexion </a>
    <a routerLink="/profil" class="nav-link"> Profil </a>
  </div>
  <a routerLink="/recettes">TOUTES LES SAVEURS</a>
  <a routerLink="/Favoris">MES FAVORIS</a>
  <img src="../../../assets/connecter.svg" alt="logo" class="profil">
</div>
<ng-template #elseBlock>
  <a routerLink="/inscription" class="nav-link">Inscription</a>
  <a routerLink="/login" class="nav-link">Connexion</a>
</ng-template>

<div *ngIf="currentUser != null">
  <h1>Connecté, Mr {{ currentUser.nom }}</h1>
  <h1>{{ currentUser.prenom }}</h1>
</div>
