<footer>
  <div class="component-footer">

    <section class="logo-footer">
      <img src="/assets/icones/logoSAVEURS.svg" alt="logo">
    </section>

    <section class="title">
      <p>NOTRE MISSION</p>
      <div class="description">
        <p>Pouvoir explorer un monde de saveurs délicieuses avec une variété de plats cuisinés avec passion et
          créativité par notre équipe de chefs experts.</p>
      </div>
    </section>

    <section class="title service-clients">
      <p>SERVICE CLIENTS</p>

      <div class="contact-info">
        <a href="https://www.instagram.com/" class="contact-item" target="_blank">
          <img src="/assets/icones/instagram.svg" alt="instagram">
          <span>croisières-des-saveurs</span>
        </a>
        <a href="https://www.linkedin.com/" class="contact-item" target="_blank">
          <img src="/assets/icones/linkedlin.svg" alt="linkedlin">
          <span>Croisière des saveurs</span>
        </a>
        <a class="contact-item" href='mailto:croisière-des-saveurs@gmail.com'>
          <img src="/assets/icones/gmail.svg" alt="gmail">
          <span>croisière-des-saveurs@gmail.com</span>
        </a>
      </div>

    </section>

  </div>
</footer>
