<footer>
  <div class="component-footer">
    <div class="logo-footer">
      <img src="../../../assets/logoSAVEURS.svg" alt="logo">
    </div>
    <div class="liens-footer">
      <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="contact-footer">
      <ul>
        <li><a href="#"><img src="facebook-icon.png" alt="Facebook"></a></li>
        <li><a href="#"><img src="twitter-icon.png" alt="Twitter"></a></li>
        <li><a href="#"><img src="linkedin-icon.png" alt="LinkedIn"></a></li>
      </ul>
    </div>
  </div>
</footer>
