<div *ngIf="currentUser" class="banniere">
  <p>Bienvenue {{ currentUser.prenom }} !</p>
</div>
<div class="menu_nav">
  <img src="/assets/logoSAVEURS.svg" alt="logo" class="logo">
  <a routerLink="/Accueil">ACCUEIL</a>
  <a routerLink="/map">CUISINE DU MONDE</a>
  <div *ngIf="currentUser; else elseBlock">
    <a (click)="logOut()" routerLink="/" class="nav-link"> DECONNEXION </a>
    <a routerLink="/profil" class="nav-link"> PROFIL </a>
    <a routerLink="/favoris">MES FAVORIS</a>
  </div>
  <a routerLink="/recettes">TOUTES LES SAVEURS</a>

  <img src="/assets/connecter.svg" alt="logo" class="profil">
</div>
<ng-template #elseBlock>
  <a routerLink="/inscription" class="nav-link">INSCRIPTION</a>
  <a routerLink="/login" class="nav-link">CONNEXION</a>
</ng-template>
