.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  margin-bottom: 50px;
}

form {
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 93%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 100%;
  background-color: white;
  color: black;
  border: 1px solid #000;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

button[type="submit"]:hover {
  background-color: black;
  color: white;
}

.login-link {
  text-align: center;
  margin-top: 10px;
}

.login-link a {
  text-decoration: underline;
  font-style: italic;
}
