<section class="container">
  <div class="game-container">

    <div class="info-container">
      <div *ngIf="bestUserScore" class="user-info">
        <p><i>Taille du serpent:</i> {{ snake.tail.length + 1 }}</p>
        <p><i>Votre meilleur score:</i> {{currentUser.highScore}}</p>
        <p><i>Temps de jeu:</i> {{ time * timestep / 1000 | number:'1.0-0' }} secondes</p>
      </div>
      <p><i>Meilleur score du jeu fait par le joueur {{bestUserScore.nom}} {{bestUserScore.prenom}}</i>: {{bestUserScore.highScore}}</p>
      <div class="dead" *ngIf="dead">
        <p>Oh non ! Tu as perdu !</p>
        <div class="button-container">
          <button (click)="restartGame()">Rejouer</button>
          <button (click)="fermerPopup()">Fermer</button>
        </div>
      </div>
    </div>

    <div class="cells">
      <div class="cell" [ngClass]="{'snake': snake.isSnakeCell(idx), 'border': isBorderCell(idx)}"
           *ngFor="let cell of cells; let idx = index;">
        <img *ngIf="isFood(idx)" src="assets/icones/pizza_icone.png" alt="Egg Image">
      </div>
    </div>

  </div>
</section>
