<p class="font2">A LA UNE</p><br>

<div class="une">
  <a routerLink="/recette-detail/Quiche lorraine" class="une-item une1">
    <img src="assets/une1.png" alt="image">
    <p class="texte_une">Quiche lorraine</p>
  </a>

  <a routerLink="/recette-detail/Paëlla" class="une-item une2">
    <img src="assets/une2.png" alt="image">
    <p class="texte_une">Paëlla</p>
  </a>

  <a routerLink="/recette-detail/Gözleme" class="une-item une3">
    <img src="assets/une3.png" alt="image">
    <p class="texte_une">Gözleme</p>
  </a>

  <a routerLink="/recette-detail/Chilaquiles" class="une-item une4">
    <img src="assets/une4.png" alt="image">
    <p class="texte_une">Chilaquiles</p>
  </a>
</div>
