<p class="font2">A LA UNE</p><br>

<div class="une">

  <div class="une1">
    <img src="assets/une1.png" alt="image">
    <p class="texte_une">Quiche lorraine</p>
  </div>

  <div class="une2">
    <img src="assets/une2.png" alt="image">
    <p class="texte_une">Paëlla</p>
  </div>

  <div class="une3">
    <img src="assets/une3.png" alt="image">
    <p class="texte_une">Gözleme</p>
  </div>

  <div class="une4">
    <img src="assets/une4.png" alt="image" height="1104" width="736">
    <p class="texte_une">Chilaquiles</p>
  </div>

</div>
