<div class="profil">

</div>

<div class="recette-info-container">
  <div class="recette-photo">
    <img src="/assets/icones/photo-profil.png" alt="profil" class="recette-info-container-image">
  </div>

  <div class="recette-details">
    <div class="first-part">
      <h1 class="name-country">Mon profil</h1>
      <hr>
      <p><span class="label">Nom :</span> <span class="valeur">{{ currentUser.nom }}</span></p>
      <p><span class="label">Prénom :</span> <span class="valeur">{{ currentUser.prenom }}</span></p>
      <p><span class="label">Email :</span> <span class="valeur">{{ currentUser.email }}</span></p>
    </div>

    <div class="bouton-container">
      <a routerLink="/favoris" class="button_commentaire">Mes favoris</a>
    </div>
  </div>
</div>

