<a routerLink="/map" class="nav-link">La map</a>
<a routerLink="/recettes" class="nav-link">RECETTES</a>
<div *ngIf="currentUser != null; else elseBlock">
    <a (click)="logOut()" routerLink="/" class="nav-link"> Deconnexion </a>
    <a routerLink="/profil" class="nav-link"> Profil </a>
</div>
<ng-template #elseBlock>
    <a routerLink="/inscription" class="nav-link">Inscription</a>
    <a routerLink="/login" class="nav-link">Connexion</a>
</ng-template>


<div *ngIf="currentUser != null">
    <h1>Connecté, Mr {{ currentUser.nom }}</h1>
    <h1>{{ currentUser.prenom }}</h1>
    <h1>{{ currentUser.email }}</h1>

</div>

<router-outlet></router-outlet>
