.nav-link {
  text-decoration: none;
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: inline-block;
}

.table-container {
  margin-top: 20px;
}

.user-table {
  border-collapse: collapse;
  width: 100%;
}

.user-table th, .user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.user-table th {
  background-color: #007BFF;
  color: #fff;
}

.recipe-container {
  margin-top: 20px;
}

.recipe-item {
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}
