<div class="recette-info-container" *ngIf="currentReciepie">
  <h1>{{ currentReciepie.nom }}</h1>
  <img src="{{currentReciepie.picture}}" alt="picture-recette"/>
  <p><span class="label">Pays:</span> <span class="valeur">{{ currentReciepie.pays }}</span></p>
  <p><span class="label">Ingrédients:</span> <span class="valeur">{{ currentReciepie.ingredients }}</span></p>
  <p><span class="label">Difficulté:</span> <span class="valeur">{{ currentReciepie.difficulte }}</span></p>
  <p><span class="label">Temps de préparation:</span> <span class="valeur">{{ currentReciepie.temp_preparation }} min</span></p>
  <p><span class="label">Catégorie:</span> <span class="valeur categorie">{{ currentReciepie.categorie }}</span></p>
  <p><span class="label">Calories:</span> <span class="valeur">{{ currentReciepie.calorie }}</span></p>
  <p><span class="label">Contenu:</span> <span class="valeur">{{ currentReciepie.contenu }}</span></p>

  <p><span class="label">Préparation:</span></p>
  <ul>
    <li *ngFor="let step of currentReciepie.preparation">{{ step }}</li>
  </ul>
<p>FAVORIS:{{ nbrFav }}</p>
  <button [ngClass]="recetteFav.toString()" (click)="addToFav()">Ajouter au favoris</button>
  <button (click)="getComments()">Commentaires</button>
  <div class="commentaires-container" *ngIf="commentaires">
    <h2>Commentaires ({{ commentaires.length }})</h2>
    <div *ngFor="let comment of commentaires" class="commentaire">
      <div [ngClass]="usersComments.get(comment.user)" >
      <span class="user">{{ comment.user }} :</span>
      <!-- Affichage de la date et de l'heure sans les secondes -->
      <span>{{ comment.dateTime | date: 'short' }}</span>

      <span class="texte">{{ comment.commentaire }}</span>
      </div>
    </div>
    <div class="ajout-commentaire-container">
      <input [(ngModel)]="newComment" placeholder="Ajouter un commentaire..." class="comment-input">
      <button class="ajouter-commentaire" (click)="ajoutCommentaire()">Ajouter</button>
    </div>
  </div>


</div>
