<div class="particles-container">
  <ng-particles
    [id]="id"
    [options]="particlesOptions"
    [particlesInit]="particlesInit"
  ></ng-particles>
</div>

<div class="container login-container">

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>CONNEXION</h2>
    <div class="form-group">
      <label for="email">Email :</label>
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="Entrez votre email">
    </div>
    <div class="form-group">
      <label for="password">Mot de passe :</label>
      <input type="password" class="form-control" id="password" formControlName="password" placeholder="Entrez votre mot de passe">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Se connecter</button>
    <div class="login-link">
      <p><a routerLink="/inscription">Pas de compte ? <i><u>Inscrivez-vous</u></i></a></p>
    </div>
  </form>
</div>
