.like {
  vertical-align: middle;
}

.like-img {
  width:30px;
  cursor: pointer;
  vertical-align: middle;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.recipe-item a, .like {
  display: inline-flex;
  align-items: center;
}

.title_recette {
  text-align: center;
}

.recipe-item {
  width: 300px;
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  transition: transform 0.3s ease;
}

.recipe-item:hover {
  transform: scale(1.05);
}

.recipe-item h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

.recipe-item a {
  background-color: white;
  color: black;
  border: 1px solid #000;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  margin-right: 90px;
}

.recipe-item a:hover {
  background-color: black;
  color: white;
}

.search-bar {
  text-align: center;
  margin-bottom: 20px;
}


.search-bar input {
  width: 300px;
  padding: 10px;
  font-weight: bold;
  border: 2px solid #3498db;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}


.search-bar input:hover {
  border-color: #2980b9;
}


.search-bar input:focus {
  outline: none;
  border-color: #2980b9;
}


.search-bar button {
  background-color: #1b6288;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #5ecbfc;
}

.recipe-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.recipe-img {
  image-rendering: pixelated;
  filter : grayscale(20%);
}
