<div class="search-bar">
    <input [(ngModel)]="term" placeholder="Rechercher une recette...">
</div>

<div *ngIf="recettes" class="recipe-container">
    <div *ngFor="let recette of recipes | customFilter:term" class="recipe-item">
        <h1>{{ recette.nom }}</h1>
        <a [routerLink]="['/recette-detail', recette.nom]">Consulter la recette</a>
      <p>{{ recettes.get(recette.nom) }}</p>
        <button [ngClass]="recettes.get(recette.nom)" (click)="addFavoris(recette)">{{ recettes.get(recette.nom) }}</button>

    </div>
  <button (click)="getMap()">tst</button>
</div>
