.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.recipe-item {
  width: 300px;
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  background-color: #f9f9f9;
  transition: transform 0.3s ease;
}

.recipe-item:hover {
  transform: scale(1.05);
}

.recipe-item h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.recipe-item a {
  background-color: #044d6e;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.recipe-item a:hover {
  background-color: #1b6288;
}



.search-bar {
  text-align: center;
  margin-bottom: 20px;
}


.search-bar input {
  width: 300px;
  padding: 10px;
  font-weight: bold;
  border: 2px solid #3498db;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}


.search-bar input:hover {
  border-color: #2980b9;
}


.search-bar input:focus {
  outline: none;
  border-color: #2980b9;
}

.like {

}


.search-bar button {
  background-color: #1b6288;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #5ecbfc;
}

.false{
  background-color: black;
}

.true{
  background-color: red;
}

.recipe-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.recipe-item img {
  image-rendering: pixelated;
  filter : grayscale(15%);
}
