<div class="container">
    <div class="game-container">
        <div class="cells" *ngIf="gameStarted">
            <div class="cell" [ngClass]="{'egg': isFood(idx), 'snake': snake.isSnakeCell(idx)}" *ngFor="let cell of cells; let idx = index;">
                <img *ngIf="isFood(idx)" src="assets/icones/cross.svg" alt="Egg Image">
            </div>
        </div>

        <div *ngIf="gameStarted" class="info-container">
            <div *ngIf="bestUserScore" class="user-info">
                Length: {{ snake.tail.length + 1 }}
                <p>Votre meilleur score {{currentUser.highScore}}</p>
                <p>Meilleur score du jeu fait par le joueur {{bestUserScore.nom}} {{bestUserScore.prenom}} {{bestUserScore.highScore}}</p>
            </div>
            <div>
                Time Played: {{ time * timestep / 1000 | number:'1.0-0' }} s
            </div>
            <div class="dead" *ngIf="dead">
                You died.
                <div class="button-container">
                    <button (click)="restartGame()">Rejouer</button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!gameStarted" class="button-container">
        <button (click)="startGame()">Commencer le jeu</button>
    </div>
</div>
