.map-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 50px 150px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 30px;
  height: 25px;
  background-color: white;
  border-radius: 5px;
}

.close:before, .close:after {
  position: absolute;
  content: ' ';
  height: 25px;
  width: 2px;
  background-color: black;
}

.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

a {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  padding: 2px;
}

