 <span class="user">{{ commentaireSend.user }} :</span>
 <span>{{ commentaireSend.dateTime | date: 'short' }}</span>
 <span class="texte">{{ commentaireSend.commentaire }}</span>
 <div *ngIf="currentUserSend && currentUserSend.email === commentaireSend.user">
   <button (click)="isEditing = true">Modifier</button>
   <button  (click)="sendDeleteComment(commentaireSend.idCommentaire)">Supprimer</button>
   <div *ngIf="isEditing">
     <input type="text" [(ngModel)]="commentaireSend.commentaire" class="comment-input">
     <button (click)="sendUpdateComment(commentaireSend)">Valider</button>
   </div>
 </div>


