<div class="presentation">
  <p class="title">MES FAVORIS</p>
  <hr>
  <p class="decouverte"><i>"Là où les saveurs deviennent des souvenirs."</i></p>
</div>

<div *ngIf="favoris.length!==0 ; else elseBlock" class="recipe-container">
  <div *ngFor="let fav of favoris" class="recipe-item">
    <h1 class="title_recette">{{ fav.favoris }}</h1>
    <img src="{{fav.picture}}" alt="assets/{{fav.favoris}}.png" class="recipe-img"/>
    <a [routerLink]="['/recette-detail', fav.favoris]">Consulter la recette</a>
    <br>
    <button (click)="deleteFavoris(fav)" class="button">Supprimer</button>
  </div>
</div>

<ng-template #elseBlock>
  <div class="no-favorites-message">
    <p class="message-text">Oh non! Vous n'avez pas encore de Favoris.</p>
    <p class="message-text">Embarquez avec nous pour un voyage culinaire inoubliable!</p>
    <p class="message-text">Découvrez nos délicieuses recettes qui éveilleront vos papilles.</p>
    <br><br>
    <a class="bouton_decouvrir" routerLink="/recettes">Explorer nos recettes</a>
  </div>
</ng-template>

