<div *ngIf="favoris.length!==0 ; else elseBlock" class="recipe-container">
    <div *ngFor="let fav of favoris" class="recipe-item">
        <h1 class="title_recette">{{ fav.favoris }}</h1>
        <img src="{{fav.picture}}" alt="assets/{{fav.favoris}}.png" class="recipe-img"/>
        <a [routerLink]="['/recette-detail', fav.favoris]">Consulter la recette</a>
    </div>
</div>
<ng-template #elseBlock>
  <div class="no-favorites-message">
    <p class="message-text">Oh non! Vous n'avez pas encore de Favoris.</p>
    <p class="message-text">Embarquez avec nous pour un voyage culinaire inoubliable!</p>
    <p class="message-text">Découvrez nos délicieuses recettes qui éveilleront vos papilles.</p>
    <br>
    <a class="bouton_decouvrir" routerLink="/recettes" >Explorer nos recettes</a>
  </div>
</ng-template>
