.img1 {
  height : 595px;
  width: 476px;
  margin-right : 5px;
  filter : grayscale(30%);
}

.img2 {
  height:595px;
  width:396px;
  margin-right: 5px;
  filter : grayscale(40%);
}

.img3 {
  height: 590px;
  width : 335px;
  filter : grayscale(40%);
}

.home-component {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top : 10px;
}

.logo {
  height: 100px;
  width: 167px;
}







