.font2 {
  float: left;
  color: black;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  margin-left: 40px;
}

.une {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 90px;
}

.une-item img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.une-item img {
  height: 400px;
  filter: grayscale(20%);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.une1 img {
  width: 247px;
  margin-right: 22px;
}

.une2 img {
  width: 267px;
  margin-right: 22px;
}

.une3 img {
  width: 300px;
  margin-right: 22px;
}

.une4 img {
  width: 267px;
}

.texte_une {
  color: black;
  text-decoration: none;
  font: message-box;
  text-align: center;
  margin-top: 20px;
}

.texte_une:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

.une a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: serif;
}
