<p class="font2">A LA UNE</p><br>

<div class="une">
  <a routerLink="/recette-detail/Paris-Brest" class="une-item une1">
    <img src="/assets/recettes/France/Paris-Brest.png" alt="image">
    <p class="texte_une">Paris-Brest</p>
  </a>

  <a routerLink="/recette-detail/Lasagnes Bolognaises" class="une-item une2">
    <img src="/assets/recettes/Italie/Lasagnes Bolognaises.png" alt="image">
    <p class="texte_une">Lasagnes Bolognaises</p>
  </a>

  <a routerLink="/recette-detail/Tiramisu" class="une-item une4">
    <img src="/assets/recettes/Italie/Tiramisu.png" alt="image">
    <p class="texte_une">Tiramisu</p>
  </a>

  <a routerLink="/recette-detail/Chilaquiles" class="une-item une4">
    <img src="/assets/recettes/Mexique/Chilaquiles.png" alt="image">
    <p class="texte_une">Chilaquiles</p>
  </a>
</div>
