<p class="font2">A LA UNE</p><br>

<div class="une">
  <a routerLink="/recette-detail/Quiche lorraine" class="une-item une1">
    <img src="/assets/home/une1.png" alt="image">
    <p class="texte_une">Quiche lorraine</p>
  </a>

  <a routerLink="/recette-detail/Crêpe mille trous" class="une-item une2">
    <img src="/assets/home/une2.png" alt="image">
    <p class="texte_une">Crêpe mille trous</p>
  </a>

  <a routerLink="/recette-detail/Poulet aux noix de cajou" class="une-item une3">
    <img src="/assets/home/une3.png" alt="image">
    <p class="texte_une">Poulet aux noix de cajou</p>
  </a>

  <a routerLink="/recette-detail/Raviolis vapeur" class="une-item une4">
    <img src="/assets/home/une4.png" alt="image">
    <p class="texte_une">Raviolis vapeur</p>
  </a>
</div>
